html, body {
    font-family: "Roboto", sans-serif;
}


@keyframes background-animation {
    from {
        background: #FFFFFF;
    }

    25% {
        background: #E3F2FD;
    }

    50% {
        background: #F3E5F5;
    }

    75% {
        background: #FFFDE7;
    }

    to {
        background: #FFFFFF;
    }
}

html {
    animation-name: background-animation;
    animation-delay: 0s;
    animation-duration: 20s;
    animation-direction: normal;
    animation-iteration-count: infinite;
}

#landing {
    position: absolute;
    left: 50%;
    top: 50%;

    width: 100%;
    max-width: 600px;

    text-align: center;

    transform: translate(-50%, -50%);
}

#logo {
    width: 100%;
}

#landing h1, #landing h2, #landing h3, #landing h4, #landing h5, #landing h6 {
    font-weight: 300;
}


